@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
.sidebarOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 5%;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(150, 150, 150, 0.521) 10%, rgba(255, 255, 255, 1) 100%);
  height: 100%;
  cursor: pointer;
  overflow: visible;
  transition: 0.5s;
}

.sidebarOpen p {
  line-height: 100%;
  width: 100vh;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.377);
  text-align: center;
  position: absolute;
  background-color: inherit;
  transform: rotate(-90deg);
  outline: none;
  border: none;
}

.sidebarOpen p:hover {
  color: rgb(0, 0, 0);
}

@media (max-width: 700px) {
  .sidebarOpen {
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    margin: 10px;
    width: 26px;
    height: 26px;
    background: inherit;
    /* border: 1px solid rgba(0, 0, 0, 0.377); */
  }
  /* добавляем "гамбургер" */
  .sidebarOpen>p, .sidebarOpen>p::before, .sidebarOpen>p::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .sidebarOpen>p::before {
    content: '';
    top: -8px;
  }
  .sidebarOpen>p::after {
    content: '';
    top: 8px;
  }
  .sidebarOpen p {
    font-size: 0;
    transform: rotate(0);
  }
  .sidebarOpen p:hover {}
}