@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

.sidebarOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 5%;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(150, 150, 150, 0.521) 10%, rgba(255, 255, 255, 1) 100%);
  height: 100%;
  cursor: pointer;
  overflow: visible;
  transition: 0.5s;
}

.sidebarOpen p {
  width: 100vh;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.377);
  text-align: center;
  position: absolute;
  background-color: inherit;
  transform: rotate(-90deg);
  outline: none;
  border: none;
}

.sidebarOpen p:hover {
  width: 100vh;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  background-color: inherit;
  transform: rotate(-90deg);
  outline: none;
  border: none;
}